################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assessment/.vs/Assessment/v17
/Assessment/.vs/ProjectEvaluation
/Assessment/.vs/WemaAssessment/CopilotIndices/0.2.1657.32929
/Assessment/.vs/WemaAssessment/DesignTimeBuild
/Assessment/.vs/WemaAssessment/FileContentIndex
/Assessment/Api.Banks/bin/Debug/net8.0
/Assessment/Api.Banks/obj/Debug/net8.0
/Assessment/ApiGateWay/bin/Debug/net8.0
/Assessment/ApiGateWay/obj
/Assessment/Assessment.AppHost/bin/Debug/net8.0
/Assessment/Assessment.AppHost/obj/Debug/net8.0/ref
/Assessment/Assessment.AppHost/obj/Debug/net8.0/refint
/Assessment/Assessment.AppHost/obj
/Assessment/Assessment.ServiceDefaults/obj
/Assessment/CustomerServiceApi/bin/Debug/net8.0
/Assessment/TestProject1/bin/Debug/net8.0
/Assessment/TestProject1/obj/Debug/net8.0
/Assessment/TestProject1/obj
/Assessment/CustomerServiceApi/obj/Debug/net8.0/staticwebassets
/Assessment/CustomerServiceApi/obj/Debug/net8.0/refint
/Assessment/CustomerServiceApi/obj/Debug/net8.0/ref
/Assessment/CustomerServiceApi/obj/Debug/net8.0
/Assessment/CustomerServiceApi/obj
/Assessment/Assessment.ServiceDefaults/bin/Debug/net8.0
/Assessment/Api.Banks/obj
/Assessment/.vs/Assessment/CopilotIndices/0.2.1657.32929
/Assessment/.vs/Assessment/DesignTimeBuild
/Assessment/.vs/Assessment/FileContentIndex
/.vs/AssessmentRepo/v17
/Assessment.CustomerService/.vs/ProjectEvaluation
/Assessment.CustomerService/.vs/UserManagement.MVC/CopilotIndices/0.2.1657.32929/CodeChunks.db
/Assessment.CustomerService/.vs/UserManagement.MVC/CopilotIndices/0.2.1657.32929/CodeChunks.db-shm
/Assessment.CustomerService/.vs/UserManagement.MVC/CopilotIndices/0.2.1657.32929/CodeChunks.db-wal
/Assessment.CustomerService/.vs/UserManagement.MVC/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
*.v2
/Assessment.CustomerService/.vs/UserManagement.MVC/v17/.suo
*.json
/Assessment.HangFire/.vs/Assessment.HangFire
/Assessment.HangFire/Assessment.HangFire/bin/Debug/net8.0
/Assessment.HangFire/Assessment.HangFire/obj
/Assessment.HangFire/.vs/ProjectEvaluation
/QueryAndRateLimiting/.vs/CustomerServiceApi/CopilotIndices/0.2.1657.32929
/QueryAndRateLimiting/bin/Debug/net8.0
/QueryAndRateLimiting/obj
